body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f6f8;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

button {
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}
